@font-face {
    font-family: 'ChiQuel Texture';
    src: url('ChiQuelTexture.woff2') format('woff2'),
        url('ChiQuelTexture.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

