@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.header {
	background: rgb(39,39,39);
	background: linear-gradient(241deg, rgba(39,39,39,0.1) 4%, rgba(48,48,48,0.1) 96%);
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: black;
}
.header__container {
	max-width: 1200px;
	max-height: 65px;
	margin: 0 auto;
	padding: 0 15px;
}
.header__menu {
	text-align: center;
	padding: 15px 0;
}
.header__menu li {
	display: inline-block;
	background: rgb(39,39,39, 0.1) ;
	border-bottom: 2px solid ;
	border-radius: 15px;
	padding: 3px 10px;
	transition: all 0.2s;
}
.header__menu li:hover {
	box-shadow: 0 0 5px 2px white;
	transition: all 0.2s;
}
.header__menu li:not(:last-child) {
	margin-right: 50px;
}