@import url("reset.css");
@import url("header.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


body {
	font-family: 'Poppins', sans-serif;
	color: #495057;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 1240px;
	margin: 0 auto;
}
.main__setting-box {
	display: flex;
	width: 100%;
}
.main__setting-box div {
	display: flex;
	margin: 100px 0 44px 0;
	transition-duration: 0.4s;
}
.main__setting-box p:hover {
	cursor: pointer;
	text-shadow: 0 0 1px black;
	transition-duration: 0.4s;
	opacity: 100%;
}
.main__setting-box div:first-child {
	flex-grow: 1;
}
.main__setting-box div p:after {
	content: "+";
	padding-left: 7px;
}
.main__setting-box .no-active {
	padding-left: 20px;
	opacity: 50%;
}
.main__box {
	display: flex;
	flex-wrap: wrap;
	row-gap: 45px;
	column-gap: 30px;
	justify-content: space-between;
	margin-bottom: 60px;
}
.card__box {
	position: relative;
	width: 390px;
	min-height: 500px;
}
.photo__box {
	margin-bottom: 30px;
	overflow: hidden;
}
.photo__box img {
	width: 100%;
	max-height: 250px;
	border-radius: 3px;
	transition: all 0.5s;
}
.photo__box img:hover {
	transform: scale(1.1);
}
.photo__button {
	position: absolute;
	top: 30px;
	right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(33, 37, 41, 0.3);
	min-width: 64px;
	min-height: 25px;
	border-radius: 3px;
	color: #F8F9FA;
	font-weight: 700;
	font-size: 8px;
	line-height: 20px;
	text-align: center;
	transition-duration: 0.4s;
}
.photo__button:hover {
	cursor: pointer;
	background: rgb(33, 37, 41);
}
.text-box li {
	font-weight: 300;
	font-size: 12px;
	line-height: 20px;
}
.text-box .tittle {
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	color: #212529;
}

.text-box a:hover {
	color: #212529;
	text-decoration: underline;
}
.text-box li:not(:last-child) {
	padding-bottom: 15px;
}
.text-box li:last-child {
	padding-top: 15px;
	border-top: 1px solid #E5E5E5;
}
.main__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 178px;
	min-height: 40px;
	background: #212529;
	border-radius: 3px;
	color: #F8F9FA;
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	flex-grow: 0;
	margin: 0 auto 100px;
	cursor: pointer;
	transition-duration: 0.3s;
}
.main__button:hover {
	box-shadow: 0 0 8px black;
	transition-duration: 0.4s;
}