@import url("reset.css");
@import url("header.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
body {
	/*background: rgb(106,114,111);*/
	/*background: linear-gradient(241deg, rgba(106,114,111,1) 4%, rgba(99,99,99,1) 96%);*/
	font-family: "Inter", sans-serif;
	font-size: 18px;
}
.main__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1400px;
	margin: 20px auto;
}
.main__box {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 50px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 10px;
	margin-bottom: 20px;
}
.main__tittle {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
}
.main__block {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 10px;
}
h2 {
	font-size: 25px;
	text-shadow: 0 0 2px black;
	margin-bottom: 10px;
}
.main__object {
	width: 200px;
	min-height: 50px;
	border: 2px solid black;
}
.main__object {
	display: flex;
	flex-shrink: 0;
	margin-right: 20px;
	background: dodgerblue;
}
.main__text {
	flex-grow: 1;
	padding: 4px;
}
.properties {
	color: darkblue;
}
.value {
	color: darkred;
}
.main__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 47px;
	background: yellowgreen;
	border: 5px solid blue;
	color: black;
	font-weight: bold;
	font-size: 20px;
}
.flex-wrap .flex_wrap {
	flex-wrap: wrap;
}
.flex-wrap .flex-wrap_reverse {
	flex-wrap: wrap-reverse;
}
.justify-content .flex-end {
	justify-content: flex-end;
}
.justify-content .space-between {
	justify-content: space-between;
}
.justify-content .space-around {
	justify-content: space-around;
}
.justify-content .space-evenly {
	justify-content: space-evenly;
}
.align-items .main__object {
	min-height: 80px;
}
.align-items .flex-start {
	align-items: flex-start;
}
.align-items .flex-end {
	align-items: flex-end;
}
.align-items .center {
	align-items: center;
}
.flex-direction .row-reverse {
	flex-direction: row-reverse;
}
.flex-direction .column {
	flex-direction: column;
}
.flex-direction .column-reverse {
	flex-direction: column-reverse;
}
.gap-daughterly {
	flex-wrap: wrap;
	gap: 2px;
}
.align-self .main__item:nth-child(even) {
	height: 80px;
}
.align-self .flex-end {
	align-items: flex-end;
}
.align-self .center {
	align-items: center;
}
.flex-shrink-child:first-child {
	display: flex;
	flex-shrink: 1;
}
.flex-shrink-child:nth-child(3){
	display: flex;
	flex-grow:1;
	flex-shrink:0;
	flex-basis: 200px;
}